// ------------------------------------------------------------------
//  Import "Pure" Components 
// ------------------------------------------------------------------

@import 'pure/base',
        'pure/buttons',
        //'pure/forms',
        'pure/grids',
        'pure/grids-responsive',
        'pure/menus';
        //'pure/tables';

@import 'syntax-highlighting';


// ------------------------------------------------------------------
//  Custom
// ------------------------------------------------------------------

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.textured-bg {
  /* Background pattern from subtlepatterns.com */
  background: url('/frozen/escheresque_ste.png');
}

.banner {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin: 0 0 2em;
  text-align: center;
  padding: 0.5em;
  width: 100%;
  text-shadow: 0 2px 2px black;
  &__title {
    color: #fc3;
    font-size: 2.5em;
    font-style: italic;
  }
  &__slogan {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
  }
}

.button {
  color: white;
  border-radius: 5px;
  font-size: 110%;
  &__link1 {
    background: #f63;
  }
}

.fine-print {
  font-size: 80%;
}

.link-container {
  background: #eeeeee;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}

.max-width {
  max-width: 980px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  border-top: 1px solid #cccccc;
  position: absolute;
  height: 100px;
  bottom: 0px;
  padding: .5em;
}

.content {
  padding: 0 0 100px 0;
}
