{{ partial "header.html" . }}

<div class="pure-menu pure-menu-horizontal">
    <!--a href="#" class="pure-menu-heading">Your Logo</a-->
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
    </ul>
</div>

<div class="banner textured-bg">
    <h1 class="banner__title">
      {{ .Title }}
    </h1>
    <h2 class="banner__slogan">
      {{ .Site.Params.slogan | safeHTML }}
    </h2>
</div>

<div class="max-width block-group">
  {{ range $section, $pages := .Site.Sections }}
    {{ with $section }}
      <div class="b4 block">
        <div class="round-box">
          <a class="pure-button button button__link1" href="{{ . | relURL}}">{{ replace . "-" " " | title }}</a>
          {{ $sectiondata := index $.Site.Data.sections . }}
          <p>{{ $sectiondata.summary }}</p>
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>

{{ partial "footer.html" . }}
