{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="banner textured-bg">
  <h1 class="banner__title">
    {{ .Title }}
  </h1>
  <h2 class="banner__slogan">
    {{ .Site.Params.slogan | safeHTML }}
  </h2>
</div>

<div class="max-width block-group">
  {{ range $section, $pages := .Site.Sections }}
    {{ with $section }}
      <div class="b4 block">
        <div class="round-box">
          <a class="pure-button button button__link1" href="{{ . | relURL}}">{{ replace . "-" " " | title }}</a>
          {{ $sectiondata := index $.Site.Data.sections . }}
          <p>{{ $sectiondata.summary }}</p>
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>

{{ partial "footer.html" . }}
